body {
  background: linear-gradient(270deg, #F9E795, #F96167)
}

.app {
  background: linear-gradient(270deg,#EA738D, #89ABE3);
  width: 80%;
  height: 80%;
  border-radius: 25px;
  margin: auto;
  padding: 1rem;
}

#header {
  text-align: center;
}

#header_tasks {
  text-align: center;
}

.task {
  text-align: center;
}

#cart{
  margin: auto;
  text-align: center;
} 

.cart {
  text-align: center;
  background-color: black;
}

.complete {
  text-align: center;
  font-size: large;
  text-decoration: line-through;
  color: rgb(255, 255, 255);
  border: 1rem;
  margin-bottom: .5rem;
}

.delete_button {
  margin-left: 15px;
  width: 10px;
  height: 15px;
  color: red;
  background-color: red;
  border-radius: 50%;
}

.expire{
  font-size: large;
  border: 1rem;
  margin-bottom: .5rem;
  color: rgb(119, 8, 8);
  text-decoration:solid;
}

.items {
  font-size: large;
  border: 1rem;
  margin-bottom: .5rem;
}

#add_task {
  background-color: rgb(149, 166, 214);
  display: flex;
  justify-content: center;
}
#sort_time{
  display: flex;
  justify-content: center;
}
#input{
  width: 150px;
}

.buttons{
  margin-top: 1%;
  display: flex;
  justify-content: center;
}